.link-btn {
    padding: .5rem .7rem;
    background-color: #58C5AC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: #fff;
        color: #58C5AC;
        border: 1px solid #58C5AC;
    }

    @media (max-width: 950px) {
        font-size: 8px;
        padding: 0.1rem .5rem;
    }
}