.offerCard-container {
    display: flex;
    gap: 2rem;

    @media (max-width: 1740px) {
        gap: 1rem;
    }

    .numb {
        width: 100px;
        height: 40px;
        font-size: 20px;
        border-radius: 100%;
        background-color: black;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        span{
            padding: 0 .9rem;
        }
    }
    
    .card-desc {
        color: #1D4145;
        font-size: 22px;
        font-weight: 400;
        line-height: 27.28px;

        @media (max-width: 1740px) {
            font-size: 18px;
        }

        h3 {
            font-size: 32px;
            line-height: 43.65px;
            font-weight: 600;
            color: #0B0E18;

            @media (max-width: 1740px) {
                font-size: 28px;
            }
        }
        p {
            text-align: justify;
            margin-top: -1rem;

            @media (max-width: 1740px) {
                text-align: start;
            }
        }
    }
}