.home-section {
    height: 100vh;
    padding: 0 5rem;
    
    background-color: #ffff;
    position: relative;

    @media (max-width: 1740px) {
        padding: 0 2rem 6rem 2rem;
    }

    @media (max-width: 540px) {
        padding-bottom: 15rem;
    }

    .section-container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        @media (max-width: 540px) {
            flex-direction: column;
        }


        .desc-section {
            height: 100%;
            width: 60%;

            @media (max-width: 540px) {
                width: 100%;
            }

            h1 {
                color: #1D4145;
                font-size: 64px;
                line-height: 74.82px;
                font-weight: 700;
                // font-family: "karla";

                @media (max-width: 1740px) {
                    font-size: 50px;
                }
                @media (max-width: 950px) {
                    font-size: 40px;
                }

                @media (max-width: 540px) {
                    font-size: 30px;
                }
            }
            
            p{
                width: 90%;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;

                @media (max-width: 1740px) {
                    font-size: 16px;
                    margin-top: -.2rem;
                }
             
            }
        }

            .img-bg-wrapper {
                position: relative;
                width: 40%;
                display: flex;
                justify-content: flex-end;

                @media (max-width: 540px) {
                    width: 100%;
                }

                .img-container {

                .img-holder {
                    width: 80%;
                    padding: 1rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    z-index: 100;

                    @media (max-width: 1740px) {
                        width: 100%;
                        height: 55%;
                    }

                    img {
                        border-radius: 100%;
                        width: 100%;

                        @media (max-width: 1740px) {
                            width: 90%;
                        }

                    }
                }
            }

            .green-bg {
                position: absolute;
                top: -1.5rem;
                right: 1rem;
                width: 250px;
                height: 250px;
                background-color: #58C5AC;
                border-radius: 100%;

                @media (max-width: 950px) {
                    top: 3rem;
                }

                @media (max-width: 540px) {
                    top: -10.5rem;
                }
               
            }

            .yello-bg {
                background-color: #D3A937;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                position: absolute;
                top: 27rem;

                @media (max-width: 540px) {
                    top: 8rem;
                }

            }

        }
    }

    .arrow-downHolder {
        position: absolute;
        text-align: center;
        bottom: 15rem;
        font-size: 30px;
        left: 50%;
        animation: beat .20s infinite alternate;
        transform-origin: center;

        @media (max-width: 450px) {
            display: none;
        }

    }

    @keyframes beat{
        to { transform: scale(1.4); }
    }
}

.what-iDo {
    display: flex;
    gap: 5rem;
    background-color: #F2F2F3;
    padding: 3rem 5rem 6rem 5rem;

    @media (max-width: 1740px) {
        padding-left: 2rem;
        padding-right: 2rem;

    }

    @media (max-width: 540px) {
        flex-direction: column;
    }

    .offer-title,.offerCard-wrapper {
        width: calc(100% / 3);

        @media (max-width: 540px) {
            width: 100%;
        }
    }

    .offer-title {
        color: #1D4145;
        font-size: 35px;
        font-weight: 700;

        @media (max-width: 1740px) {
            font-size: 30px;
            width: 30%;
        }

        @media (max-width: 950px) {
            font-size: 20px;
        }

        @media (max-width: 540px) {
            width: 100%;
            margin-bottom: -4rem;
        }
    }

    .offerCard-wrapper {
        display: flex;
        flex-direction: column;

        @media (max-width: 1740px) {
            width: 35%;

            @media (max-width: 540px) {
                width: 100%;
            }
        }

        .c-wrapper-row1, .c-wrapper-row2  {
            height: 50%;

        }
    }
}

.in-short {
    text-align: center;
    background-color: #ffff;
    padding: 5rem;

    @media (max-width: 540px) {
        // text-align: left;
        padding: 2rem 3rem;
    }

    h3 {
        color: #1D4145;
        font-size: 40px;
        font-weight: 400;
        line-height: 54.56px;

        @media (max-width: 540px) {
            font-size: 30px;
        }
    }

    h1 {
        color: #1D4145;
        font-size: 56px;
        font-weight: 700;
        line-height: 76.38px;

        @media (max-width: 540px) {
            font-size: 30px;
        }

    }
}


// ********@media querey****************
@media (max-width: 1740px) {
    .desc-section, .img-bg-wrapper {
        width: 50%;
    }

}
