.app {
    background-color: #0B0E18;
    padding: 0 2rem;

    @media (max-width: 950px) {
        padding: 0 1rem;
    }

    .designed-by {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        background-color:  #1D4145;

        h5 {
            padding: .5rem 0;
        }

        span {
            margin: 0 .5rem;
        }

        .love {
            animation: beat .25s infinite alternate;
            transform-origin: center;
            color: red;
        }

        /* Heart beat animation */
        @keyframes beat{
            to { transform: scale(1.4); }
        }
    }
}

.app-header {
    
    .menu-wrapper {
        position: absolute;
        text-align: end;
        font-size: 28px;
        right: 4rem;
        color: #fff;

        @media (max-width: 600px) {
            right: 1rem;
            top: 1rem;
        }
    }

    .display-links {
        display: none;
    }

    .links-container {
        background-color: #58C5AC;
        height: 100vh;
        width: 50%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding-top: 5rem;

        @media (max-width: 600px) {
            width: 100vw;
            margin: 0;
        }

        a {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            margin: 1rem 0;
        }
}

}
